[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tomli = "*"
matplotlib = "*"
click = "*"

[dev-packages]
flake8 = "*"
pytest = "*"
build = "*"
rich = "*"
tomli-w = "*"

[requires]
python_version = "3.8"
